body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: rgb(255, 250, 240);
}

.pageHeader {
  padding: 2.2rem;
  margin: 0;
  background-color: rgb(224, 255, 255);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.50);
  z-index: 10;
  position: sticky;
  top: 0;
}
.pageContainer {
  height: 100%;
  display: flex;
}
.cvContainer {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
  border: solid 1px black;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.322);
}


.formContainer {
  width: 40vw;
  height: 100%;
  background-color: rgb(255, 250, 240);
  border-radius: 0.6px;
  padding-left: 2rem;
  border-right: solid 1px black;
  font-size: 1.2rem
}


.generalInfo {
  width: 100%;
  height: 35%;
  border-bottom: solid 1px black;
  padding-bottom: 1.8rem;
}

.education {
  width: 100%;
  height: 100%;
  border-bottom: solid 1px black;
  padding-bottom: 1.8rem;
}

.projects {
  width: 100%;
  height: 100%;
}

.experience {
  width: 100%;
  height: 100%;
  border-bottom: solid 1px black;
  padding-bottom: 1.8rem;
}

.formHeader {
  margin-bottom: 1.5rem;
}

.inputDiv {
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 80%;
}

.submit {
  margin-top: 1rem;
  background-color: rgb(224, 255, 255);
  border: solid 1px black;
  padding: 0.3rem;
  font-size: 0.95rem;
}

.cvHeader {
  height: 15%;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-bottom: solid 1px black;
}

.picture {
  height: 100%;
  width: 20%;
  background-color: rgb(167, 234, 255);
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 1rem;
  justify-content: space-evenly;
  padding-left: 3rem;
  width: 80%;
}


.name {
  font-size: 2rem;

}

.email {
  font-style: italic;
}

.phone {
  font-style: italic;
}

.experienceHeader {
  padding: 1rem;
  background-color: rgb(167, 234, 255);
  margin: 0;
  margin-bottom: 1rem;
  
}
.experienceDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.experienceParent {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.title {
  padding-left: 1rem;
  font-size: 1.3rem;
}

.companyLocation {
  padding-left: 1rem;
  font-style: italic;
  font-size: 1rem;
}

.duration {
  padding-left: 1rem;
  font-size: 1rem;
  font-style: italic;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.projectsHeader {
  padding: 1rem;
  background-color: rgb(167, 234, 255);
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.profile {
  padding-left: 1rem;
  font-size: 1.3rem;
}

.project {
  padding-left: 1rem;
  font-size: 1.3rem;
}

.description {
  padding-left: 1rem;
  font-size: 1.15rem;
  padding-right: 1rem;
}

.gh {
  padding-left: 1rem;
  font-size: 1rem;
}

.top {
  padding-left: 1rem;
  font-size: 1rem;
}

.rm {
  padding-left: 1rem;
  font-size: 1rem;
  font-style: italic;
}

.educationHeader {
  padding: 1rem;
  background-color: rgb(167, 234, 255);
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.educationContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  
}

.educationDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.school {
  padding-left: 1rem;
  font-style: italic;
}

.location {
  padding-left: 1rem;
  font-style: italic;
}

.degree {
  font-size: 1.3rem;
  padding-left: 1rem;
}